body{
    background: rgba(117, 172, 255, 0.904);
    font: normal 15pt Arial;

}
header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.438);
    
}
div{
    text-align: center;
    font-family: Times;
    padding: 8px;
}


footer{
    color: white;
    font-style: italic;
    text-align: center;
}